/* * {
  border: solid red 1px;
} */

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  background: #005AA7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 300px;
}

.thumbnail {
  margin: 30px;
}



